extends base

block content
    main.main
        .user-view
            nav.user-view__menu
                ul.side-nav
                    li
                        a(href=`/:id`)
                            svg
                                use(xlink:href='/img/icons.svg#icon-settings')
                            | Settings
                    li
                        a(href='#')
                            svg
                                use(xlink:href='/img/icons.svg#icon-briefcase')
                            | My bookings
                    li.side-nav--active
                        a(href=(`#`))
                            svg
                                use(xlink:href='/img/icons.svg#icon-star')
                            | My reviews
                    li
                        a(href='#')
                            svg
                                use(xlink:href='/img/icons.svg#icon-credit-card')
                            | Billing
                    if user.role === 'admin'
                        .admin-nav
                            h5.admin-nav__heading Admin
                            ul.side-nav
                                li
                                    a(href='#')
                                        svg
                                            use(xlink:href='/img/icons.svg#icon-map')
                                        | Manage tours
                                li
                                    a(href='#')
                                        svg
                                            use(xlink:href='/img/icons.svg#icon-users')
                                        | Manage users
                                li
                                    a(href='#')
                                        svg
                                            use(xlink:href='/img/icons.svg#icon-star')
                                        | Manage reviews
                                li
                                    a(href='#')
                                        svg
                                            use(xlink:href='/img/icons.svg#icon-briefcase')
            .user-view__content
                .user-view__form-container
                    - for (var i = 0; i < 10; ++i) {
                    .reviews-alt
                        .reviews__card-alt
                            .reviews__avatar
                                h6.reviews__user= title
                        p.reviews__text Cras mollis nisi parturient mi nec aliquet suspendisse sagittis eros condimentum scelerisque taciti mattis praesent feugiat eu nascetur a tincidunt
                        .reviews__rating    
                            svg.reviews__star.reviews__star--active
                                use(xlink:href='/img/icons.svg#icon-star')
                    - }    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>          
